.backgroundColorLeft {
    -fx-background-color: linear-gradient(to left, #110036, #5a0b59);
}

.backgroundColorRight {
    -fx-background-color: linear-gradient(to right, #110036, #5a0b59);
}

.backgroundColorMiddle {
    -fx-background-color: #110036;
}

.buttonColor {
    -fx-background-color: #000000;
}

.title {
    -fx-padding: 20px 0 0 0;
    -fx-text-fill: white;
    -fx-font-size: 16pt;
}

.subtitle {
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.stageVbox {
    -fx-padding: 20px;
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 8px;
}

.stageLabel {
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.timeElapsed {
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}